Link to the Dataset and Description

https://archive.ics.uci.edu/ml/datasets/Combined+Cycle+Power+Plant#

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00294/CCPP.zip
!unzip *.zip

--2021-05-13 18:24:55--  https://archive.ics.uci.edu/ml/machine-learning-databases/00294/CCPP.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3674852 (3.5M) [application/x-httpd-php]
Saving to: ‘CCPP.zip’

CCPP.zip            100%[===================>]   3.50M  8.37MB/s    in 0.4s

2021-05-13 18:24:56 (8.37 MB/s) - ‘CCPP.zip’ saved [3674852/3674852]

Archive:  CCPP.zip
   creating: CCPP/
  inflating: CCPP/Folds5x2_pp.ods
  inflating: CCPP/Folds5x2_pp.xlsx
  inflating: CCPP/Readme.txt
  inflating: CCPP/Readme.txt~

In [ ]:
!ls
%cd CCPP

CCPP  CCPP.zip	sample_data
/content/CCPP

In [ ]:
%pwd

'/content/CCPP'

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
tf.__version__

'2.4.1'

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
df = pd.read_excel('Folds5x2_pp.xlsx')
print(f"The shape of the dataset is - {df.shape}")

The shape of the dataset is - (9568, 5)

In [ ]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [ ]:
df.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [ ]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

In [ ]:
print(X)

[[  14.96   41.76 1024.07   73.17]
 [  25.18   62.96 1020.04   59.08]
 [   5.11   39.4  1012.16   92.14]
 ...
 [  31.32   74.33 1012.92   36.48]
 [  24.48   69.45 1013.86   62.39]
 [  21.6    62.52 1017.23   67.87]]

In [ ]:
print(Y)

[463.26 444.37 488.56 ... 429.57 435.74 453.28]

### Splitting the dataset into the Training set and Test set

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,
                                                    Y,
                                                    test_size = 0.2,
                                                    random_state = 42)
print(f"Size of X_train : {X_train.shape}")
print(f"Size of Y_train : {Y_train.shape}")
print(f"Size of X_test : {X_test.shape}")
print(f"Size of Y_test : {Y_test.shape}")

Size of X_train : (7654, 4)
Size of Y_train : (7654,)
Size of X_test : (1914, 4)
Size of Y_test : (1914,)

## Part 2 - Building the ANN

### Initializing the ANN

In [ ]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units=6, activation='relu'))
model.add(tf.keras.layers.Dense(units=6, activation='relu'))
model.add(tf.keras.layers.Dense(units=1))
model.compile(optimizer='adam', loss= 'mean_squared_error')
model.fit(X_train,Y_train,batch_size=32, epochs=100)
model.summary()

Epoch 1/100
240/240 [==============================] - 1s 2ms/step - loss: 2119.2371
Epoch 2/100
240/240 [==============================] - 0s 2ms/step - loss: 122.0659
Epoch 3/100
240/240 [==============================] - 0s 2ms/step - loss: 104.6216
Epoch 4/100
240/240 [==============================] - 0s 2ms/step - loss: 86.0242
Epoch 5/100
240/240 [==============================] - 0s 2ms/step - loss: 74.5182
Epoch 6/100
240/240 [==============================] - 0s 2ms/step - loss: 60.2374
Epoch 7/100
240/240 [==============================] - 0s 1ms/step - loss: 54.8020
Epoch 8/100
240/240 [==============================] - 0s 2ms/step - loss: 48.8754
Epoch 9/100
240/240 [==============================] - 0s 2ms/step - loss: 43.2644
Epoch 10/100
240/240 [==============================] - 0s 1ms/step - loss: 41.4313
Epoch 11/100
240/240 [==============================] - 0s 2ms/step - loss: 37.8321
Epoch 12/100
240/240 [==============================] - 0s 2ms/step - loss: 35.9423
Epoch 13/100
240/240 [==============================] - 0s 2ms/step - loss: 36.2507
Epoch 14/100
240/240 [==============================] - 0s 2ms/step - loss: 33.6255
Epoch 15/100
240/240 [==============================] - 0s 1ms/step - loss: 32.8561
Epoch 16/100
240/240 [==============================] - 0s 2ms/step - loss: 33.7771
Epoch 17/100
240/240 [==============================] - 0s 1ms/step - loss: 33.6968
Epoch 18/100
240/240 [==============================] - 0s 2ms/step - loss: 32.1165
Epoch 19/100
240/240 [==============================] - 0s 2ms/step - loss: 31.2973
Epoch 20/100
240/240 [==============================] - 0s 1ms/step - loss: 29.9345
Epoch 21/100
240/240 [==============================] - 0s 2ms/step - loss: 29.5688
Epoch 22/100
240/240 [==============================] - 0s 2ms/step - loss: 29.4448
Epoch 23/100
240/240 [==============================] - 0s 2ms/step - loss: 28.1740
Epoch 24/100
240/240 [==============================] - 0s 1ms/step - loss: 28.0455
Epoch 25/100
240/240 [==============================] - 0s 2ms/step - loss: 29.2816
Epoch 26/100
240/240 [==============================] - 0s 1ms/step - loss: 27.5012
Epoch 27/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4002
Epoch 28/100
240/240 [==============================] - 0s 1ms/step - loss: 29.1142
Epoch 29/100
240/240 [==============================] - 0s 1ms/step - loss: 28.1250
Epoch 30/100
240/240 [==============================] - 0s 2ms/step - loss: 26.7435
Epoch 31/100
240/240 [==============================] - 0s 1ms/step - loss: 27.6557
Epoch 32/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1485
Epoch 33/100
240/240 [==============================] - 0s 1ms/step - loss: 25.6034
Epoch 34/100
240/240 [==============================] - 0s 1ms/step - loss: 26.3785
Epoch 35/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4675
Epoch 36/100
240/240 [==============================] - 0s 1ms/step - loss: 26.3151
Epoch 37/100
240/240 [==============================] - 0s 1ms/step - loss: 27.7806
Epoch 38/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5427
Epoch 39/100
240/240 [==============================] - 0s 2ms/step - loss: 27.4566
Epoch 40/100
240/240 [==============================] - 0s 2ms/step - loss: 27.4329
Epoch 41/100
240/240 [==============================] - 0s 2ms/step - loss: 29.7555
Epoch 42/100
240/240 [==============================] - 0s 2ms/step - loss: 26.0926
Epoch 43/100
240/240 [==============================] - 0s 2ms/step - loss: 26.6333
Epoch 44/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6199
Epoch 45/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1834
Epoch 46/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0976
Epoch 47/100
240/240 [==============================] - 0s 1ms/step - loss: 26.0773
Epoch 48/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7539
Epoch 49/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1108
Epoch 50/100
240/240 [==============================] - 0s 2ms/step - loss: 26.5554
Epoch 51/100
240/240 [==============================] - 0s 1ms/step - loss: 26.4391
Epoch 52/100
240/240 [==============================] - 0s 1ms/step - loss: 27.7485
Epoch 53/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8956
Epoch 54/100
240/240 [==============================] - 0s 2ms/step - loss: 25.2939
Epoch 55/100
240/240 [==============================] - 0s 1ms/step - loss: 26.0270
Epoch 56/100
240/240 [==============================] - 0s 1ms/step - loss: 27.8727
Epoch 57/100
240/240 [==============================] - 0s 1ms/step - loss: 27.3261
Epoch 58/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1770
Epoch 59/100
240/240 [==============================] - 0s 1ms/step - loss: 26.7290
Epoch 60/100
240/240 [==============================] - 0s 1ms/step - loss: 26.9009
Epoch 61/100
240/240 [==============================] - 0s 1ms/step - loss: 27.2542
Epoch 62/100
240/240 [==============================] - 0s 1ms/step - loss: 26.1541
Epoch 63/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0549
Epoch 64/100
240/240 [==============================] - 0s 2ms/step - loss: 26.0232
Epoch 65/100
240/240 [==============================] - 0s 2ms/step - loss: 25.7572
Epoch 66/100
240/240 [==============================] - 0s 2ms/step - loss: 27.0102
Epoch 67/100
240/240 [==============================] - 0s 2ms/step - loss: 26.4790
Epoch 68/100
240/240 [==============================] - 0s 2ms/step - loss: 25.8729
Epoch 69/100
240/240 [==============================] - 0s 1ms/step - loss: 28.0292
Epoch 70/100
240/240 [==============================] - 0s 1ms/step - loss: 26.0515
Epoch 71/100
240/240 [==============================] - 0s 1ms/step - loss: 26.1309
Epoch 72/100
240/240 [==============================] - 0s 2ms/step - loss: 26.5216
Epoch 73/100
240/240 [==============================] - 0s 1ms/step - loss: 27.0840
Epoch 74/100
240/240 [==============================] - 0s 1ms/step - loss: 25.8813
Epoch 75/100
240/240 [==============================] - 0s 1ms/step - loss: 27.3865
Epoch 76/100
240/240 [==============================] - 0s 1ms/step - loss: 28.4115
Epoch 77/100
240/240 [==============================] - 0s 2ms/step - loss: 26.9865
Epoch 78/100
240/240 [==============================] - 0s 2ms/step - loss: 27.0558
Epoch 79/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5851
Epoch 80/100
240/240 [==============================] - 0s 2ms/step - loss: 25.8914
Epoch 81/100
240/240 [==============================] - 0s 1ms/step - loss: 26.0799
Epoch 82/100
240/240 [==============================] - 0s 1ms/step - loss: 25.9515
Epoch 83/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5825
Epoch 84/100
240/240 [==============================] - 0s 2ms/step - loss: 26.5960
Epoch 85/100
240/240 [==============================] - 0s 1ms/step - loss: 26.5285
Epoch 86/100
240/240 [==============================] - 0s 1ms/step - loss: 27.1001
Epoch 87/100
240/240 [==============================] - 0s 2ms/step - loss: 26.6643
Epoch 88/100
240/240 [==============================] - 0s 1ms/step - loss: 26.1282
Epoch 89/100
240/240 [==============================] - 0s 1ms/step - loss: 28.0524
Epoch 90/100
240/240 [==============================] - 0s 1ms/step - loss: 27.5134
Epoch 91/100
240/240 [==============================] - 0s 1ms/step - loss: 28.8854
Epoch 92/100
240/240 [==============================] - 0s 1ms/step - loss: 26.3124
Epoch 93/100
240/240 [==============================] - 0s 1ms/step - loss: 27.5303
Epoch 94/100
240/240 [==============================] - 0s 1ms/step - loss: 26.9363
Epoch 95/100
240/240 [==============================] - 0s 2ms/step - loss: 25.3261
Epoch 96/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4286
Epoch 97/100
240/240 [==============================] - 0s 1ms/step - loss: 27.4466
Epoch 98/100
240/240 [==============================] - 0s 1ms/step - loss: 26.0231
Epoch 99/100
240/240 [==============================] - 0s 1ms/step - loss: 27.2737
Epoch 100/100
240/240 [==============================] - 0s 1ms/step - loss: 26.6966
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 30
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 79
Trainable params: 79
Non-trainable params: 0
_________________________________________________________________

In [ ]:
Y_pred = model.predict(X_test)

In [ ]:
np.set_printoptions(precision=2)
print(np.concatenate((Y_pred.reshape(len(Y_pred), 1), Y_test.reshape(len(Y_test), 1)), 1))

[[455.49 455.27]
 [437.64 436.31]
 [432.48 440.68]
 ...
 [480.05 479.53]
 [434.59 435.76]
 [458.74 457.1 ]]

In [ ]:
print("The Mean Squared Error is: %.2f" % mean_squared_error(Y_test, Y_pred))
print("Variance Score: %.2f" % r2_score(Y_test, Y_pred))

The Mean Squared Error is: 26.13
Variance Score: 0.91